body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://c8.alamy.com/comp/PM8WH9/vector-logo-currency-exchange-PM8WH9.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.exchage-box{
    width: 350px;
    background-color: white;
}
/* Style The Dropdown Button */
.dropbtn {
  background-color: #1c64eb;
  color: white;
  padding: 16px;
  font-size: 20px;
  font-weight: 450;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 0px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

/* Links inside the dropdown */
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #2ea5ef;
}

.amount-box{
  width: 100%;
  border: none;
  text-align: right;
  margin: 0;
}
.input-area{
  width:100%;
}
.input-area input{
  width:100%;
  background-color: white;
}
.same-icon{
  color: white;
  font-weight: 900;
  font-size: 2rem;
}
.korea-num{
  height: 50px;
  text-align: right;
}
.flag-img{
  width: 18px;
  height: 12px;
}